<script setup lang="ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue'
import EventListeners from './components/EventListeners.vue'
import FromBindings from './components/FromBindings.vue'
import ConditionalRendering from './components/ConditionalRendering.vue'
import ListRendering from './components/icons/ListRendering.vue'
</script>
<template>
  <h1>Hello World</h1>
  <DeclarativeRendering></DeclarativeRendering>
  <AttributeBindings></AttributeBindings>
  <EventListeners></EventListeners>
  <FromBindings></FromBindings>
  <ConditionalRendering></ConditionalRendering>
  <ListRendering></ListRendering>
</template>